In [1]:
import pandas as pd
from pandas import DataFrame
from sklearn.preprocessing import scale
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl 
import os
import csv

In [2]:
# Import in the data 
# Accept
first_accept_wide = pd.read_csv("raw/answer_accept_first_raw.csv")
second_accept_wide = pd.read_csv("raw/answer_accept_second_raw.csv")
third_accept_wide = pd.read_csv("raw/answer_accept_third_raw.csv")
fourth_accept_wide = pd.read_csv("raw/answer_accept_fourth_raw.csv")
fifth_accept_wide = pd.read_csv("raw/answer_accept_fifth_raw.csv")
sixth_accept_wide = pd.read_csv("raw/answer_accept_sixth_raw.csv")

# lilely
first_likely_wide = pd.read_csv("raw/answer_likely_first_raw.csv")
second_likely_wide = pd.read_csv("raw/answer_likely_second_raw.csv")
third_likely_wide = pd.read_csv("raw/answer_likely_third_raw.csv")
fourth_likely_wide = pd.read_csv("raw/answer_likely_fourth_raw.csv")
fifth_likely_wide = pd.read_csv("raw/answer_likely_fifth_raw.csv")
sixth_likely_wide = pd.read_csv("raw/answer_likely_sixth_raw.csv")

In [3]:
first_accept_wide

,subject,Train_control_accept,train_snake_untypical,vera_train_accept,train_control_unacceptable,vera_accept_no1_list1_a_PRO,answer_accept_0_how_MO_political,conn_typical_zebra_color,vera_accept_5_list1_b_pp,conn_typical_echidna_pattern,...,conn_typical_jottle_pattern,answer_accept_0_how_MO_holywood,conn_typical_cat_color,vera_accept_32_list1_b_pp,answer_accept_0_who_MO_intern,conn_typical_tapir_color,vera_accept_36_list1_c_tp,answer_accept_0_where_MO_lights,Did you find this task difficult? Why or why not?,Anything else you'd like to tell us?
0,A2NHWPJ304YVH0,3,4,3,4,3,4,0,3,5,...,4,3,4,4,4,4,5,4,NOT AT ALL,NICE WORK DUDE
1,A3FCZNB9E8K3CX,4,1,5,3,5,5,0,0,1,...,0,3,1,0,3,2,0,3,"no, it was just reading",NaN
2,A2Y7GPMP1H9N7G,4,5,3,4,4,4,5,5,4,...,4,4,5,5,4,4,4,4,No,It's very funny
3,A30USRN6IWGIY8,5,4,5,4,5,0,1,0,5,...,3,5,1,0,5,5,0,5,It wasn't difficult. The animals and sentences...,I thought the drawings were reasonably well done.
4,A1ZDR2UN7M92LI,5,0,5,5,5,5,0,0,2,...,4,3,3,0,4,3,0,4,Yes because it needs some more info,Thanks
5,A2JZ79WO4PM0IJ,2,2,2,2,2,2,2,2,3,...,1,1,1,2,1,2,2,2,no,no
6,A2AAFWAAS9C1QC,5,2,5,5,5,4,2,0,2,...,1,5,2,0,3,2,0,3,"No, it was pretty easy. The directions were ea...",Good luck with your research.
7,A3L0DCUXI7X3A9,5,2,1,2,2,4,0,1,3,...,4,4,0,0,3,1,0,4,I thought it was hard because a lot of the ans...,no problems
8,A69RUK0SZV067,5,1,5,0,5,3,0,5,1,...,1,5,0,2,2,0,0,5,"a little bit, because had to read and lot and ...","thanks for the survey, i think it was kinda un..."
9,A281NYJUA83Y3Y,3,2,3,2,4,3,1,1,2,...,2,3,2,3,2,3,2,3,no the task was very easy,nothing to add
10,ATP43ZVI1RP0C,5,0,0,3,4,3,0,3,1,...,0,2,0,1,5,1,0,5,weird,noe
11,A26PPHR171P4H4,4,1,3,4,4,3,2,4,2,...,1,1,2,2,2,2,3,3,No,Nope
12,AOB5RZ3WSAZPS,5,5,5,0,5,5,4,3,3,...,2,4,1,5,1,2,2,3,I felt it to be somewhat difficult. I feel li...,NaN
13,A2Z70GL7HTFFQR,5,2,5,1,0,2,0,0,4,...,0,4,5,3,4,5,0,4,yes. the situations were weird,no
14,A1ZUUNIIJSDJBG,5,4,5,3,5,3,2,5,5,...,2,5,3,0,4,5,0,5,I did not. It was pretty straight forward.,NaN
15,AHZK3Z1KHJ0BO,5,1,5,3,2,4,1,2,2,...,5,4,1,1,4,2,0,4,"No, english isn't very hard to understand.",Have a fabulous week!
16,AXTXEIVVXTX74,5,2,0,2,1,2,0,1,2,...,2,1,1,0,0,1,0,1,Difficult was the animals and things I didn't ...,The wording on the appropriate questions was v...
17,A14294HZGND1AZ,5,4,5,1,3,4,1,4,4,...,1,5,0,4,3,1,4,5,"Yes, because I wasn't sure of how acceptable c...",Nothing specific.
18,A3FIO5T8LH65DM,5,4,5,5,0,5,5,0,5,...,5,5,5,2,5,5,0,4,"no, all terms were clear",none

In [19]:
# Convert to long
first_likely = pd.melt(first_likely_wide, id_vars='subject')
second_likely = pd.melt(second_likely_wide, id_vars='subject')
third_likely = pd.melt(third_likely_wide, id_vars='subject')
fourth_likely = pd.melt(fourth_likely_wide, id_vars='subject')
fifth_likely = pd.melt(fifth_likely_wide, id_vars='subject')
sixth_likely = pd.melt(sixth_likely_wide, id_vars='subject')

first_accept = pd.melt(first_accept_wide, id_vars='subject')
second_accept = pd.melt(second_accept_wide, id_vars='subject')
third_accept = pd.melt(third_accept_wide, id_vars='subject')
fourth_accept = pd.melt(fourth_accept_wide, id_vars='subject')
fifth_accept = pd.melt(fifth_accept_wide, id_vars='subject')
sixth_accept = pd.melt(sixth_accept_wide, id_vars='subject')

In [20]:
together_likely = pd.concat([first_likely,second_likely,third_likely,fourth_likely,fifth_likely,sixth_likely])
# together_likely.to_csv("together_likely.csv",index=False)

together_accept = pd.concat([first_accept,second_accept,third_accept,fourth_accept,fifth_accept,sixth_accept])

In [21]:
together = pd.concat([together_likely,together_accept])
# together.to_csv("together.csv",index=False)

In [22]:
# Splitting by study type
conn = together[together['variable'].str.contains("conn")]
vera = together[together['variable'].str.contains("vera")]
answer = together[together['variable'].str.contains("answer")]

In [23]:
# Save the other studies to separate files 
vera.to_csv("vera_total.csv",index=False)
conn.to_csv("conn_total.csv",index=False)
answer.to_csv("answer_total_1.csv",index=False)

In [24]:
accept = answer[answer['variable'].str.contains("accept")]
likely = answer[answer['variable'].str.contains("likely")]

In [25]:
vera.tail()

            subject                   variable value
794  A1Y9ICY1SOTRI9  vera_accept_35_list3_b_pp     1
795  A1AZLJ3R5FQ9B7  vera_accept_35_list3_b_pp     0
796  A15SUPIZ05ZFCD  vera_accept_35_list3_b_pp     0
797  A33UVS8TAJCHSN  vera_accept_35_list3_b_pp     0
798  A2FKEASJJHYISJ  vera_accept_35_list3_b_pp     1

In [26]:
len(answer) # 2856

2856

In [27]:
len(likely) # 1488

1488

In [28]:
len(accept) #1368

1368

In [29]:
# This is an unnecessary step, but just in case 
# you want to import in another file
# if you use the 'answer' object directly, it gives a "SettingWithCopyWarning"
# 
d = pd.read_csv("answer_total_1.csv")
d.dropna(inplace = True)
# d.head()

In [30]:
new = d["variable"].str.split('_', n=5, expand = True)

In [31]:
new.head()

        0       1  2    3   4          5
0  answer  likely  0  how  MO  political
1  answer  likely  0  how  MO  political
2  answer  likely  0  how  MO  political
3  answer  likely  0  how  MO  political
4  answer  likely  0  how  MO  political

In [34]:
d["variable"] = new[0]
d["task"] = new[1]
d["modal"] = new[2]
d["wh"]=new[3]
d["answer"]=new[4]
d["story"]=new[5]

In [167]:
d = d.rename(columns={'value': 'likert'})

          subject variable  likert    task modal   wh answer      story
0  A2VFEDAK5C1E1O   answer     1.0  likely     0  how     MO  political
1  A29AKJXQ248KNK   answer     2.0  likely     0  how     MO  political
2  A29TQSAJPLXZU7   answer     3.0  likely     0  how     MO  political
3  A3QVZ4SZB79D8W   answer     1.0  likely     0  how     MO  political
4  A17D6BK59S31BM   answer     2.0  likely     0  how     MO  political

In [168]:
d['modal'] = d['modal'].replace({'1': 'mod', '0': 'nomod'})

In [169]:
d.head()

          subject variable  likert    task  modal   wh answer      story
0  A2VFEDAK5C1E1O   answer     1.0  likely  nomod  how     MO  political
1  A29AKJXQ248KNK   answer     2.0  likely  nomod  how     MO  political
2  A29TQSAJPLXZU7   answer     3.0  likely  nomod  how     MO  political
3  A3QVZ4SZB79D8W   answer     1.0  likely  nomod  how     MO  political
4  A17D6BK59S31BM   answer     2.0  likely  nomod  how     MO  political

In [170]:
d.to_csv("answer.csv",index=False)

In [330]:
d_mod_where_MO['likert'].isin(['2']).describe()

count       112
unique        2
top       False
freq        101
Name: likert, dtype: object

In [325]:
d_nomod_where_MO['likert'].describe()

count    76.000000
mean      3.105263
std       1.138173
min       0.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       5.000000
Name: likert, dtype: float64

In [321]:
d_mod_how['likert'].median()

4.0

d_mod_how['likert'].median(

In [338]:
plt.figure()

In [336]:
bp = d_MO.boxplot(by='modal')